*{margin: 0; padding: 0}
@import "fonts.scss";
$font: 'FontAwesome';  
$black: #222B45;
$blue: #1C82EB ;
$orang: #FF710F;
body {
    box-sizing: border-box;
    padding: 0 !important; 
    font-size: 16px;  
    line-height: 1.5;
    transition: .3s all; 
    position: relative;
    font-weight: 400;
    font-family: 'Nunito';
    background: #fff;
    &.active { 
        overflow: hidden;
    }
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;        
        transition: .3s all;  
        margin-bottom: 0;  
        outline: none !important;   
    }      
    a { 
        transition: .3s all !important;   
        color: #28333b;   
        line-height: 1.5;
        &:hover {
            color: $blue;      
        }     
    } 
    ul {    
    	padding: 0;  
    	margin: 0;  
    }   
    input, button {    
    	outline: none !important; 
    	box-shadow: none; 
    	transition: .3s all; 
    } 
    .slick-slide {
    	height: auto;  
        img {
            display: inline;
        }
    }
    .container {
        width: 100%;
        max-width: 1140px;
    } 
    img {
        max-width: 100%;
    }
}

.slick-slider {
    margin-bottom: 0;
}
.detail {
    h2, h3, h4, h5, h6 {
        margin-bottom: 15px;
        font-weight: 500;
    }
    p {
        margin-bottom: 15px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.avarta {
    overflow: hidden;
    img {
        transition: .4s all !important;
        &:hover {
            transform: scale(1.05);
        }
    }
}

@import "layer.scss";

.box-banner {
    position: relative;
    .caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom: 90px;
        h1 {
            color: #fff;
            font-weight: 700;
            font-size: 48px;
            font-family: 'Barlow';
        }
    }
    ul {
        list-style: none;
    }
}

.box-about {
    padding: 65px 0;
}
.video-about {
    position: relative;
    .btn-play {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
.slide-txt-about {
    color: #fff;
}
.txt-about {
    h2 {
        font-size: 48px;
        font-weight: 700;
        color: #fff;
        font-family: 'Barlow';
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}
.slick-dots {
    list-style: none;
    text-align: left;
    position: unset;
    bottom: 0;
    margin-top: 50px;
    button {
        display: none !important;
    }
    li {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        border: 1px solid #fff;
        &.slick-active {
            background: #fff;
        }
    }
}

.box-tour-hot {
    background: #F8FBFF;
    padding: 55px 0;
}

.title {
    margin-bottom: 40px;
    color: #222B45;
    h2 {
        color: #4C7CF3;
        font-size: 40px;
        font-weight: 700;
        font-family: 'Barlow';
        margin-bottom: 15px;
    }
}

.item-tour-hot {
    height: 100%;
    background: #ffffff;
    .info {
        padding: 15px 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h3 {
        a {
            font-size: 28px;
            font-weight: 700;
            display: block;
        }
    }
}
.list-tour-hot {
    .col-md-6 {
        margin-bottom: 40px;
    }
}

.view-hot {
    a {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Barlow';
        display: inline-flex;
        background: $blue;
        color: #fff;
        border: 1px solid $blue;
        height: 48px;
        align-items: center;
        padding: 0 40px;
        &:hover {
            color: $blue;
            background: #fff;
        }
    }
}

.box-make {
    padding: 80px 0;
}
.info-make {
    background: rgba(255, 255, 255, 0.9);
    padding: 65px 160px;
    max-width: 920px;
    margin: 0 auto;
    h2 {
        margin-bottom: 60px;
        font-size: 40px;
        font-weight: 700;
        font-family: 'Barlow';
    }
}
.btn-more {
    a {
        font-size: 14px;
        font-weight: 700;
        display: inline-flex;
        height: 48px;
        padding: 0 39px;
        background: $blue;
        align-items: center;
        border-radius: 30px;
        color: #fff;
        border: 1px solid $blue;
        &:hover {
            color: $blue;
            background: #fff;
        }
    }
}

.box-tour {
    padding: 55px 0;
}
.item-tour {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    .info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 24px;
        color: #fff;
        pointer-events: none;
        .numb {
            font-size: 48px;
            font-weight: 700;
            font-family: 'Barlow';
            line-height: 1;
            margin-bottom: 30px;
        }
        h3 {
            a {
                display: block;
                font-size: 28px;
                font-weight: 700;
                color: #fff;
                line-height: 1.2;
                font-family: 'Barlow';
                margin-bottom: 15px;
            }
        }
        .desc {
            opacity: 0.75;
        }
    }
    .d-tour {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 24px 24px 24px;
        opacity: .5;
    }
}

.list-tour {
    .col-md-4 {
        margin-bottom: 30px;
    }
}

.box-new-home {
    background: linear-gradient(134.72deg, #1C82EB 0%, #00C8E5 101.5%);
    padding: 55px 0;
    color: #fff;
    .title {
        color: #Fff;
        h2 {
            color: #fff;
        }
    }
}
.slide-new {
    margin: 0 -15px;
    .item-slide {
        padding: 0 15px;
    }
}

.item-new-home {
    height: 100%;
    background: #fff;
    color: #222B45;
    .info {
        padding: 18px 24px;
        font-size: 14px;
        a {
            font-size: 22px;
            font-weight: 700;
            font-family: 'Barlow';
            margin-bottom: 12px;
            display: block;
        }
        .desc {
            margin-bottom: 18px;
        }
        .n-bott {
            font-size: 16px;
            color: #C5CEE0;
            display: flex;
            justify-content: space-between;
        }
    }
}

.box-partner {
    padding: 55px 0;
}
.list-partner {
    border-top: 1px solid #97979740;
    .col-md-3 {
        padding-top: 55px;
    }
}

.content-contact {
    padding-top: 425px;
    .content {
        background: linear-gradient(134.72deg, #00c8e5f2 0%, #1c82ebf2 101.5%);
        padding: 80px 0;
    }
}

.txt-contact {
    color: #fff;
    max-width: 450px;
    h3 {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 40px;
        font-weight: 700;
        font-family: 'Barlow';
        margin-bottom: 20px;
    }
    .desc {
        margin-bottom: 55px;
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 35px;
            display: flex;
            align-items: center;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                margin-right: 15px;
            }
        }
    }
}
.box-contact {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 32px;
    max-width: 485px;
    margin-left: auto;
    h3 {
        font-size: 22px;
        font-weight: 700;
        font-family: 'Barlow';
        margin-bottom: 40px;
    }
}
.list-form {
    .item {
        margin-bottom: 40px;
        font-size: 14px;
        &:last-child {
            margin-bottom: 0;
        }
        label {
            display: block;
            opacity: 0.5;
            margin-bottom: 10px;
        }
        .txt_ctn {
            border: 0;
            border-bottom: 1px solid #96969640;
            width: 100%;
        }
        textarea {
            border: 0;
            border-bottom: 1px solid #96969640;
            width: 100%;
            outline: none;
            height: 50px;
        }
    }
    .btn-contact {
        background: #FF710F;
        border-radius: 24px;
        cursor: pointer;
        width: 100%;
        height: 48px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        border: 1px solid #FF710F;
        &:hover {
            color: #FF710F;
            background: #fff;
        }
    }
}

.breadcrumbs {
    position: relative;
}

.bread-after {
    .avarta {
        position: relative;
        &:After {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 58, 116, 0.9) 0%, rgba(28, 130, 235, 0.9) 100%);
            top: 0;
            left: 0;
            position: absolute;
        }
    }
}

.caption-bread {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        font-family: Barlow;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 15px;
    }
    .desc {
        opacity: 0.75;
    }
}

.list-news {
    .col-md-6 {
        margin-bottom: 30px;
    }
}
.new-cate {
    position: relative;
    .avarta {
        margin-bottom: 16px;
    }
    .info {
        a {
            font-size: 28px;
            font-weight: 700;
            font-family: 'Barlow';
        }
        .desc {
            padding: 15px 0;
        }
    }
    .hour {
        font-size: 14px;
        opacity: .5;
    }
}

.load-news {
    a {
        display: inline-flex;
        background: #FF710F;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        border: 1px solid #FF710F;
        height: 48px;
        align-items: center;
        padding: 0 70px;
        &:hover {
            color: #FF710F;
            background: #fff;
        }
    }
}
.box-news-cate {
    padding: 65px 0;
}
.box-comment {
    padding: 36px 0;
}
.share-detail {
    padding-top: 36px;
    p {
        margin-bottom: 8px;
    }
}
.bread-detail {
    margin-bottom: 30px;
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        li {
            position: relative;
            padding-right: 19px;
            margin-right: 19px;
            &:after {
                content: "•";
                position: absolute;
                right: -3px;
                top: 0;
                font-size: 18px;
                font-weight: 600;
                color: #C5CEE0;
            }
        }
    }
    a {
        font-size: 18px;
        font-weight: 600;
        color: #C5CEE0;
    }
}

.detail-top {
    margin-bottom: 30px;
    h1 {
        font-size: 40px;
        font-weight: 700;
        font-family: 'Barlow';
    }
}

.info-detail {
    p {
        margin-bottom: 15px;
    }
}
.item-bar {
    margin-bottom: 40px;
    &:last-child {
        margin-bottom: 0;
    }
}

.boooking-tour {
    background: #F5F9FE;
    padding: 20px;
    h3 {
        font-size: 18px;
        font-weight: 700;
        color: #FF710F;
        font-family: 'Barlow';
    }
}
.form-booking {
    .item {
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        &:last-child {
            margin-bottom: 0;
        }
        label {
            display: block;
            font-size: 16px;
            font-weight: 600;
            color: #151A30;
            font-family: 'Barlow';
            margin-bottom: 8px;
        }
        .txt-booking {
            background: #FFFFFF;
            height: 48px;
            padding: 0 12px;
            width: 100%;
            border: 0;
            font-size: 14px;
        }
        p {
            font-size: 16px;
            font-weight: 600;
            font-family: 'Barlow';
        }
        .price {
            font-size: 22px;
            font-weight: 700;
            color: #FF710F;
            font-family: 'Barlow';
            line-height: 1;
            span {
                font-size: 16px;
                color: #151A30;
            }
        }
    }
}
.btn-booking {
    input[type="submit"] {
        font-size: 18px;
        font-weight: 700;
        background: #FF710F;
        color: #fff;
        height: 48px;
        cursor: pointer;
        padding: 0 20px;
        border: 1px solid #FF710F;
        &:hover {
            color: #FF710F;
            background: #fff;
        }
    }
}

.slide-banner-news {
    margin-bottom: 36px;
}

.slide-bread {
    position: relative;
}
.list-nav {
    position: absolute;
    left: 0;
    bottom: 24px;
    width: 100%;
    .container {
        padding: 0;
        max-width: 723px;
        margin: 0 auto;
    }
}
.slider-nav {
    margin: 0 -6px;
    .clc {
        padding: 0 6px;
    }
}

.box-slide-tourhot {
    padding: 70px 0;
} 

.slide-tour-hot {
    .title {
        margin-bottom: 20px;
    }
    h3 {
        a {
            font-size: 28px;
            font-weight: 700;
            font-family: 'Barlow';
            margin-bottom: 7px;
            display: block;
        }
    }
    .rate {
        margin-bottom: 20px;
    }
    .price {
        label {
            color: #4C7CF3;
            font-size: 32px;
            font-weight: 700;
            font-family: 'Barlow';
        }
        a {
            font-size: 18px;
            font-weight: 700;
            color: #4C7CF3;
            border: 1px solid #4C7CF3;
            border-radius: 30px;
            display: inline-flex;
            height: 48px;
            align-items: center;
            padding: 0 35px;
            &:hover {
                background: #4C7CF3;
                color: #fff;
            }
        }
    }
}
.count-tour {
    border: 2px solid #FF710F;
    border-radius: 15px;
    padding: 10px 19px;
    width: max-content;
    margin-bottom: 24px;
    p {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Barlow';
    margin-bottom: 5px;
    }
}
.count-down {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 300;
    color: #C5CEE0;
    label {
        position: relative;
        padding-right: 14px;
        margin-right: 14px;
        &:after {
            content: ":";
            position: absolute;
            top: -3px;
            right: -5px;
            line-height: 1;
            font-size: 36px;
            font-weight: 70px;
            font-family: barlow;
            color: #C5CEE0;
        }
        &:last-child, &:first-child {
            margin-right: 0;
            padding-right: 0;
            &:after {
                display: none;
            }
        }
        &:first-child {
            display: none !important;
        }
        span {
            display: block;
            color: #FF710F;
            font-family: barlow;
            font-size: 36px;
            font-weight: 700;
            line-height: 1;
            min-width: 40px;
        }
    }
} 


@import "news.scss";